.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textStyle{
  border-radius: 4px;
  border: 1px solid gray;
  width: 17%;
  height: 30px;
  margin-top: 10%;
  padding: 5px;
}
.btn-reset{
  width: 18%;
  height: 32px;
  background-color: #a2d3ee;
  font-size: larger;
  color: blue;
  border: none;
  border-radius: 6px;
}
img{
  width: 13%;
  height: 260px;
}
.btn{
  width: 10%;
  height: 32px;
  border-radius: 6px;
  margin: 5px;
}

.prev{
  background-color: yellow;
}
.nxt{
  background-color: rgb(135, 255, 135);
}

.sld{
  background-color: rgb(65, 227, 255);
}
.stp{
  background-color: red;
}